{% extends "base.html" %}
{% load i18n %}

{% block all_wrapper %}
    <div class="maskwrap">

        <div class="breadcrumbs fixedbc">
            <a href="/" class="empty">Главная</a> 
            <a href="" class="no">Восстановление пароля</a>
        </div>


        <div class="colmask doublepage1">
            <div class="colleft">
                <div class="col1">
                    <p>На почту Вам были отправлены инструкии по восстановлению пароля.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

