{% extends "base.html" %}
{% load i18n %}

{% block all_wrapper %}
    <div class="maskwrap">

        <div class="breadcrumbs fixedbc">
            <a href="/" class="empty">Главная</a> 
            <a href="" class="no">Восстановление пароля</a>
        </div>


        <div class="colmask doublepage1">
            <div class="colleft">
                <div class="col1">
                    <div class="forms stretch">
                        {% if validlink %}

                            <form method="post" action=".">
                                {% csrf_token %} 
                                {{ form.as_p }}

                                <input type="submit" class="send cl" value="Отправить">
                            </form>

                        {% else %}

                            <p>Пароль не был изменен. Неверный код.</p>

                        {% endif %}
		    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
