{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
      <div class="highlighted goods">
        <!-- .holder -->
        <div class="holder">
          <!-- .breadcrumbs -->
          <ul class="breadcrumbs">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Каталог</a></li>
            <li><a href="#">Кабинет обж</a></li>
            <li>Программы компьютерной обработки тестов</li>
          </ul>
          <!--// .breadcrumbs -->
          <h1 class="headline">Прогр. комп.обраб."Диагностика умственных способностей</h1>
          <!-- .goods-block -->
          <div class="goods-block dbl-border">
            <!-- .goods-info -->
            <div class="goods-info">
              <!-- .details -->
              <div class="details dbl-border">
                <div class="btn btn-blue btn-bb to-cart">
                  <a href="#">В корзину</a>
                </div>
                <div class="price">3 602 руб.</div>
                <div class="old-price">4200 руб.</div>
                <div class="count">
                  <input type="text" value="1" id="goods-count">
                  <label for="goods-count">шт.</label>
                </div>
              </div>
              <!--// .details -->
              <!-- .characteristics -->
              <ul class="characteristics">
                <li><span class="label">Артикул:</span> 3630_bluette</li>
                <li><span class="label">Время проведения</span> 44 мин. (ШТУР) 28 мин.( ГИТ)</li>
                <li><span class="label">Форма проведения</span> индивидуальная/ групповая</li>
                <li><span class="label">Возраст:</span> от 9 до 16 лет.</li>
                <li><span class="label">Габариты (см):</span> 32 Х 21 см.</li>
                <li><span class="label">Описание:</span> Блок Диагностики умственных способностей школьника позволяет оценить основные компоненты понятийного мышления учащихся 3-6 классов (ГИТ) и старшеклассников (ШТУР), а также зону ближайшего развития ребенка. Тесты могут быть использованы в комплексе с другими психодиагностиками для определения ведущего учебного профиля школьника.</li>
              </ul>
              <!--// .characteristics -->
            </div>
            <!--// .goods-info -->
            <div class="goods-img">
              <a href="#"><img src="i/goods-pic1.jpg" alt="Прогр. комп.обраб. Диагностика умственных способностей" width="219" height="253"></a>
            </div>
          </div>
          <!--// .goods-block -->
          <!-- .goods-block -->
          <div class="goods-block dbl-border">
            <!-- .goods-description -->
            <div class="goods-description">
              <p><span class="label">Содержание блока:</span> ГИТ (Групповой интеллектуальный тест) (М.К. Акимова, Е.М. Борисова, В.Т. Козлова): 7 субтестов: «Исполнение инструкции», «Арифметические задачи», «Дополнение предложений», «Числовые ряды», «Сходства и различия», «Аналогии», «Символы».</p>
              <p>ШТУР (Школьный тест умственного развития) (М.К. Акимова, Е.М. Борисова, В.Т. Козлова): 6 субтестов: «Осведомленность» (2 субтеста), «Аналогии», «Классификации», «Обобщения», «Числовые ряды». Тест имеет две параллельные формы «А» и «Б».</p>
              <p>Комплект: СD-диск с программами тестирования и обработки результатов &amp;amp;#61482;&amp;amp;#61482;; руководство пользователя.</p>
            </div>
            <!--// .goods-description -->
          </div>
          <!--// .goods-block -->
        </div>
        <!--// .holder -->
      </div>
      <!--// .goods -->
      <!-- .related -->
      <div class="related highlighted catalog-block">
        <h2 class="headline">Сопутствующие товары</h2>
        <!-- .catalog-list -->
        <ul class="catalog-list">
          <li>
            <div class="title"><a href="#">Многофактор.опросник Р.Кеттелла</a></div>
            <div class="img">
              <a href="#"><img src="i/catalog-pic1.jpg" alt="Многофактор.опросник Р.Кеттелла" width="98" height="113"></a>
            </div>
            <div class="price">3 602 руб.</div>
            <div class="old-price">4200 руб.</div>
            <div class="btn btn-blue btn-bb"><a href="#">Купить</a></div>
          </li><li>
            <div class="title"><a href="#">Многофактор.опросник Р.Кеттелла</a></div>
            <div class="img">
              <a href="#"><img src="i/catalog-pic2.jpg" alt="Многофактор.опросник Р.Кеттелла" width="180" height="120"></a>
            </div>
            <div class="price">3 602 руб.</div>
            <div class="old-price">4200 руб.</div>
            <div class="btn btn-blue btn-bb"><a href="#">Купить</a></div>
          </li><li>
            <div class="title"><a href="#">Многофактор.опросник Р.Кеттелла</a></div>
            <div class="img">
              <a href="#"><img src="i/catalog-pic3.jpg" alt="Многофактор.опросник Р.Кеттелла" width="164" height="116"></a>
            </div>
            <div class="price">3 602 руб.</div>
            <div class="old-price">4200 руб.</div>
            <div class="btn btn-blue btn-bb"><a href="#">Купить</a></div>
          </li><li>
            <div class="title"><a href="#">Многофактор.опросник Р.Кеттелла</a></div>
            <div class="img">
              <a href="#"><img src="i/catalog-pic1.jpg" alt="Многофактор.опросник Р.Кеттелла" width="98" height="113"></a>
            </div>
            <div class="price">3 602 руб.</div>
            <div class="old-price">4200 руб.</div>
            <div class="btn btn-blue btn-bb"><a href="#">Купить</a></div>
          </li>
        </ul>
        <!--// .catalog-list -->
      </div>
      <!--// .related -->
{% endblock %}