{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
   <!-- .search-block -->
    <div class="search-block">
        <button>Поиск</button>
        <div class="wr-input">
            <input type="text" placeholder="Поиск по сайту ...">
        </div>
    </div>
    <!--// .search-block -->
    <!-- .slider -->
    <div class="slider">
        <div class="headline"><span class="subtitle">Новостройка:</span> детский сад школа</div>
        <img src="/static/i/slider-pic1.jpg" alt="Новостройка: детский сад школа" width="814" height="191">
        <ul class="slider-nav">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
        </ul>
    </div>
    <!--// .slider -->
    <!-- .season-novelties -->
    <div class="season-novelties catalog-block highlighted">
        <div class="view-all"><a href="#">Смотреть весь каталог</a></div>
        <h2 class="headline">Новинки сезона</h2>
        <!-- .catalog-list -->
        <ul class="catalog-list">
            <li>
            <div class="title"><a href="#">Многофактор.опросник Р.Кеттелла</a></div>
            <div class="/static/img">
                <a href="#"><img src="/static/i/catalog-pic1.jpg" alt="Многофактор.опросник Р.Кеттелла" width="98" height="113"></a>
            </div>
            <div class="price">3 602 руб.</div>
            <div class="old-price">4200 руб.</div>
            <div class="btn btn-blue btn-border"><a href="#">Купить</a></div>
            </li><li>
            <div class="title"><a href="#">Многофактор.опросник Р.Кеттелла</a></div>
            <div class="/static/img">
                <a href="#"><img src="/static/i/catalog-pic2.jpg" alt="Многофактор.опросник Р.Кеттелла" width="180" height="120"></a>
            </div>
            <div class="price">3 602 руб.</div>
            <div class="old-price">4200 руб.</div>
            <div class="btn btn-blue btn-border"><a href="#">Купить</a></div>
            </li><li>
            <div class="title"><a href="#">Многофактор.опросник Р.Кеттелла</a></div>
            <div class="/static/img">
                <a href="#"><img src="/static/i/catalog-pic3.jpg" alt="Многофактор.опросник Р.Кеттелла" width="164" height="116"></a>
            </div>
            <div class="price">3 602 руб.</div>
            <div class="old-price">4200 руб.</div>
            <div class="btn btn-blue btn-border"><a href="#">Купить</a></div>
            </li><li>
            <div class="title"><a href="#">Многофактор.опросник Р.Кеттелла</a></div>
            <div class="/static/img">
                <a href="#"><img src="/static/i/catalog-pic1.jpg" alt="Многофактор.опросник Р.Кеттелла" width="98" height="113"></a>
            </div>
            <div class="price">3 602 руб.</div>
            <div class="old-price">4200 руб.</div>
            <div class="btn btn-blue btn-border"><a href="#">Купить</a></div>
            </li>
        </ul>
        <!--// .catalog-list -->
    </div>
    <!--// .season-novelties -->
    <!-- .recommend -->
    <div class="recommend catalog-block">
        <div class="view-all"><a href="#">Смотреть весь каталог</a></div>
        <h2 class="headline">Рекомендуем</h2>
        <!-- .catalog-list -->
        <ul class="catalog-list">
            <li>
                <div class="title"><a href="#">Многофактор.опросник Р.Кеттелла</a></div>
                <div class="/static/img">
                    <a href="#"><img src="/static/i/catalog-pic1.jpg" alt="Многофактор.опросник Р.Кеттелла" width="98" height="113"></a>
                </div>
                <div class="price">3 602 руб.</div>
                <div class="old-price">4200 руб.</div>
                <div class="btn btn-blue btn-border"><a href="#">Купить</a></div>
                </li><li>
                <div class="title"><a href="#">Многофактор.опросник Р.Кеттелла</a></div>
                <div class="/static/img">
                <a href="#"><img src="/static/i/catalog-pic2.jpg" alt="Многофактор.опросник Р.Кеттелла" width="180" height="120"></a>
                </div>
                <div class="price">3 602 руб.</div>
                <div class="old-price">4200 руб.</div>
                <div class="btn btn-blue btn-border"><a href="#">Купить</a></div>
            </li><li>
                <div class="title"><a href="#">Многофактор.опросник Р.Кеттелла</a></div>
                <div class="/static/img">
                <a href="#"><img src="/static/i/catalog-pic3.jpg" alt="Многофактор.опросник Р.Кеттелла" width="164" height="116"></a>
                </div>
                <div class="price">3 602 руб.</div>
                <div class="old-price">4200 руб.</div>
                <div class="btn btn-blue btn-border"><a href="#">Купить</a></div>
            </li><li>
                <div class="title"><a href="#">Многофактор.опросник Р.Кеттелла</a></div>
                <div class="/static/img">
                <a href="#"><img src="/static/i/catalog-pic1.jpg" alt="Многофактор.опросник Р.Кеттелла" width="98" height="113"></a>
                </div>
                <div class="price">3 602 руб.</div>
                <div class="old-price">4200 руб.</div>
                <div class="btn btn-blue btn-border"><a href="#">Купить</a></div>
            </li>
        </ul>
        <!--// .catalog-list -->
    </div>
    <!--// .recommend -->
    <!-- .txt-block -->
    <div class="txt-block">
        <h1>Школьное оборудование</h1>
        <p>"Природа в школе" –- современная динамично развивающаяся фирма-разработчик, производитель и поставщик учебного оборудования и наглядных пособий, самостоятельно работает с 1998 года. Развивая лучшие традиции учебно-технической промышленности, наша фирма постоянно совершенствует собственное производство, реализует новые идеи, чему способствует опыт работы, высококвалифицированные специалисты и слаженная работа коллектива.</p>
        <div class="/static/incut">
            <p>Новые разработки и производство приборов нашей фирмой ориентированы на современные требования системы образования. Производимое ООО "Природа в школе" оборудование сертифицировано в России, имеет технические паспорта. Все материалы, используемые в производстве, разрешены к применению Министерством здравоохранения и прошли физико-механические и санитарно-химические испытания.</p>
        </div>
        <p>Мы работаем в тесном сотрудничестве с ведущими поставщиками школьного оборудования в России, что позволяет нам удовлетворять запросы на поставки самого широкого ассортимента учебных приборов, оборудования, принадлежностей, наглядных пособий, техники, учебной мебели в кратчайшие сроки и по низким ценам. Осуществляем доставку во все регионы России. Имеем опыт комплектации школ "под ключ".</p>
    </div>
    <!--// .txt-block -->
{% endblock %}