<nav class="side-nav">
    <ul>
        <li><a href="#">Ваша Новостройка</a></li>
        <li><span>Учебные пособия</span>
        <ul>
            <li><a href="#">Стенды для школьных кабинетов</a></li>
            <li><a href="#">Мультимедийные диски КиМ</a></li>
            <li><a href="#">Кабинет Химии</a></li>
            <li><a href="#">Кабинет Физики</a></li>
            <li><a href="#">Кабинет Биологии</a></li>
            <li><a href="#">Кабинет Русского языка</a></li>
            <li><a href="#">Кабинет Труда</a></li>
            <li><a href="#">Кабинет труда слесарный</a></li>
            <li><a href="#">Кабинет труда столярный</a></li>
            <li><a href="#">Кабинет Черчения и ИЗО</a></li>
            <li><a href="#">Компакт-диски для</a></li>
            <li><a href="#">учителяКомпьютерный класс</a></li>
            <li><a href="#">Мебель школьная</a></li>
            <li><a href="#">Медицинское оборудование-</a></li>
            <li><a href="#">Уточнять цены</a></li>
        </ul>
        </li>
        <li><span>Школьная мебель</span>
        <ul>
            <li><a href="#">Стенды для школьных кабинетов</a></li>
            <li><a href="#">Мультимедийные диски КиМ</a></li>
            <li><a href="#">Кабинет Химии</a></li>
            <li><a href="#">Кабинет Физики</a></li>
            <li><a href="#">Кабинет Биологии</a></li>
            <li><a href="#">Кабинет Русского языка</a></li>
            <li><a href="#">Кабинет Труда</a></li>
            <li><a href="#">Кабинет труда слесарный</a></li>
            <li><a href="#">Кабинет труда столярный</a></li>
            <li><a href="#">Кабинет Черчения и ИЗО</a></li>
            <li><a href="#">Компакт-диски для</a></li>
            <li><a href="#">учителяКомпьютерный класс</a></li>
            <li><a href="#">Мебель школьная</a></li>
            <li><a href="#">Медицинское оборудование-</a></li>
            <li><a href="#">Уточнять цены</a></li>
        </ul>
        </li>
        <li class="two-strings"><span>Интерактивные средства обучения</span>
        <ul>
            <li><a href="#">Стенды для школьных кабинетов</a></li>
            <li><a href="#">Мультимедийные диски КиМ</a></li>
            <li><a href="#">Кабинет Химии</a></li>
            <li><a href="#">Кабинет Физики</a></li>
            <li><a href="#">Кабинет Биологии</a></li>
            <li><a href="#">Кабинет Русского языка</a></li>
            <li><a href="#">Кабинет Труда</a></li>
            <li><a href="#">Кабинет труда слесарный</a></li>
            <li><a href="#">Кабинет труда столярный</a></li>
            <li><a href="#">Кабинет Черчения и ИЗО</a></li>
            <li><a href="#">Компакт-диски для</a></li>
            <li><a href="#">учителяКомпьютерный класс</a></li>
            <li><a href="#">Мебель школьная</a></li>
            <li><a href="#">Медицинское оборудование-</a></li>
            <li><a href="#">Уточнять цены</a></li>
        </ul>
        </li>
        <li class="two-strings"><span>Специализированное оборудование</span>
        <ul>
            <li><a href="#">Стенды для школьных кабинетов</a></li>
            <li><a href="#">Мультимедийные диски КиМ</a></li>
            <li><a href="#">Кабинет Химии</a></li>
            <li><a href="#">Кабинет Физики</a></li>
            <li><a href="#">Кабинет Биологии</a></li>
            <li><a href="#">Кабинет Русского языка</a></li>
            <li><a href="#">Кабинет Труда</a></li>
            <li><a href="#">Кабинет труда слесарный</a></li>
            <li><a href="#">Кабинет труда столярный</a></li>
            <li><a href="#">Кабинет Черчения и ИЗО</a></li>
            <li><a href="#">Компакт-диски для</a></li>
            <li><a href="#">учителяКомпьютерный класс</a></li>
            <li><a href="#">Мебель школьная</a></li>
            <li><a href="#">Медицинское оборудование-</a></li>
            <li><a href="#">Уточнять цены</a></li>
        </ul>
        </li>
        <li class="active"><span>Детский сад</span>
        <ul>
            <li><a href="#">Стенды для школьных кабинетов</a></li>
            <li><a href="#">Мультимедийные диски КиМ</a></li>
            <li><a href="#">Кабинет Химии</a></li>
            <li><a href="#">Кабинет Физики</a></li>
            <li><a href="#">Кабинет Биологии</a></li>
            <li><a href="#">Кабинет Русского языка</a></li>
            <li><a href="#">Кабинет Труда</a></li>
            <li><a href="#">Кабинет труда слесарный</a></li>
            <li><a href="#">Кабинет труда столярный</a></li>
            <li><a href="#">Кабинет Черчения и ИЗО</a></li>
            <li><a href="#">Компакт-диски для</a></li>
            <li><a href="#">учителяКомпьютерный класс</a></li>
            <li><a href="#">Мебель школьная</a></li>
            <li><a href="#">Медицинское оборудование-</a></li>
            <li><a href="#">Уточнять цены</a></li>
        </ul>
        </li>
    </ul>
    </nav>