<div class="side-news">
    <div class="side-caption">Наши новости</div>
    <!-- .side-news-list -->
    <ul class="side-news-list">
        <li>
        <div class="img">
            <a href="#"><img src="/static/i/side-news-pic1.jpg" alt="Новый прайс-лист доступен для скачивания" width="229" height="74"></a>
        </div>
        <div class="title"><a href="#">Новый прайс-лист доступен для скачивания</a></div>
        <div class="txt">Уважаемые коллеги, обращаем ваше внимание на изменение цен на продукцию. Новый прайс-лист ...</div>
        <div class="date">16.06.2010</div>
        </li>
        <li>
        <div class="title"><a href="#">Новый прайс-лист доступен для скачивания</a></div>
        <div class="txt">Уважаемые коллеги, обращаем ваше внимание на изменение цен на продукцию. Новый прайс-лист ...</div>
        <div class="date">16.06.2010</div>
        </li>
        <li>
        <div class="title"><a href="#">Новый прайс-лист доступен для скачивания</a></div>
        <div class="txt">Уважаемые коллеги, обращаем ваше внимание на изменение цен на продукцию. Новый прайс-лист ...</div>
        <div class="date">16.06.2010</div>
        </li>
    </ul>
    <!--// .side-news-list -->
    <div class="view-all">
        <a href="#">Все новости</a>
    </div>
</div>